/*
==============================
        GENERAL STYLE
==============================
*/
:root {
    --header-height: 75px;
    --icon-box-height: 80px;

    --fs-1: 36pt;
    --fs-2: 24pt;
    --fs-3: 18pt;
    --fs-4: 14pt;
    --fs-5: 12pt;

    --lh: 1.5em;

    --black: #0A0A0A;
    --white: #F5F5F5;
    --red: #D13131;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--black);
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

/*
=== CLASS
*/
/* size */
.page {
    background-color: var(--white);
    max-width: 1440px;
    margin: 0 auto;
}

.w-100 {
    width: 100%;
}
.mx {
    padding-left: 30px;
    padding-right: 30px;
}

/* text */
.h1 {
    font-size: var(--fs-1);
    font-weight: 600;
}
.h2 {
    font-size: var(--fs-2);
    font-weight: 600;
    line-height: var(--lh);
    margin-bottom: 20px;
}
.h3 {
    font-size: var(--fs-3);
    line-height: var(--lh);
}
.p {
    font-size: var(--fs-4);
    line-height: var(--lh);
    margin-bottom: 20px;
}
.txt-sm {
    font-size: var(--fs-5);
    line-height: var(--lh);
}

.container {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}

.section {
    margin: 60px auto;
}

.row {
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
}

.col {
    width: 100%;
    align-self: center;
}

.btn {
    font-size: var(--fs-3);
    color: var(--white);

    display: inline-block;

    padding: 14px 60px;
    margin-top: 40px;

    background-color: var(--red);

    cursor: pointer;
    transition: background-color .3s;
}
.btn:hover {
    background-color: #ff3d3d;
}


/* header*/
.header {
    background-color: var(--black);
    height: var(--header-height);
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

/* logo */
.logo {
    cursor: pointer;
}
.logo img {
    height: 40px;
    user-select: none;
}


/* nav */
.nav-container {
    display: flex;
}

.triangle {
    border-top: var(--icon-box-height) solid var(--red);
    border-left: 50px solid transparent;
    height: var(--icon-box-height);
    width: 0;
}

.icon-container {
    height: var(--icon-box-height);
    width: 100%;

    padding: 0 30px;

    display: flex;
    align-items: center;
    position: relative;

    z-index: 10;

    background-color: var(--red);
}

.icon-container .fa-bars {
    color: var(--white);
    font-size: 24pt;
    z-index: 10;
    cursor: pointer;
    transition: .3s;
}
.icon-container .fa-bars:hover {
    transform: scale(1.1);
}

.red-bar {
    position: absolute;
    top: 0;
    left: 0;

    height: var(--icon-box-height);
    width: 5000px;

    z-index: 9;

    background-color: var(--red);
}

/* menu */
.menu-container {
    height: 100%;
    width: 0;

    position: fixed;
    z-index: 20;

    top: 0;
    right: 0;

    background-color: rgba(0, 0, 0, .9);
    overflow-x: hidden;
    transition: .5s;
}

.menu-content {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: var(--white);
    transition: .5s;
}

.menu-content-opened {
    width: 360px;
}

.menu-header {
    background-color: #D13131;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 30px;
}

.menu-close {
    font-size: 20pt;
    color: var(--white);
}

.menu {
    display: flex;
    flex-direction: column;
}

.menu-link {
    text-decoration: none;
    color: var(--black);
    font-size: var(--fs-3);

    padding: 14px 20px;

    display: block;

    transition: background-color .3s;
}
.menu-link:hover {
    background-color: #C0C0C0;
}

/* intro */
.intro {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 480px;

    text-align: center;
    color: var(--white);

    background: url("../img/home/bg-img.jpg") no-repeat center top;
    background-size: cover;
}

.intro .h1 {
    margin: 60px;
}
.intro .p {
    margin: 60px;
}

/* characters */
.characters {
    width: 100%;
    background: url("../img/home/bg-characters.png") no-repeat center center;
    background-size: cover;
    color: var(--white);
}

.characters .filter {
    width: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, .8), rgba(0, 0, 0, .95));
}

.characters-content {
    padding: 60px 0;

    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: ". char-content";
}

.characters-content .col {
    grid-area: char-content;
}

/* story */
.story {
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.story .p {
    max-width: 460px;
    margin-left: 60px;
    margin-right: 60px;
}

.story-images {
    margin-top: 20px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
}

/* curiosities */
.curiosities {
    width: 100%;
    background: url("../img/home/bg-curiosities.jpg") no-repeat center center;
    background-size: cover;
    color: var(--white);
}

.curiosities .filter {
    width: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, .8), rgba(0, 0, 0, .95));
}

.curiosities-content {
    padding: 60px 0;

    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "cur-content .";
}

.curiosities-content .col {
    grid-area: cur-content;
}

/* footer */
.footer {
    background: var(--black);
    color: var(--white);

    padding: 30px 0;
}

.footer .col {
    align-self: start;
}

.footer-link {
    display: inline-block;
    color: var(--red);
    font-size: var(--fs-4);
    line-height: 2em;

    padding: 1px 4px;
    margin-right: 20px;

    cursor: pointer;
    transition: .2s;
}

.social-link {
    display: inline-block;
    font-size: var(--fs-4);
    color: var(--red);

    padding: 4px 8px;

    cursor: pointer;
    transition: .2s;
}

.social-link:first-child {
    margin-bottom: 10px;
}

.footer-link:hover, .social-link:hover {
    color: var(--black);
    background-color: var(--red);
}

/* copy */
.copy {
    background-color: var(--red);
    color: var(--white);

    padding: 12px 0;
}

.copy span {
    display: block;
}