/*
==============================
        GENERAL STYLE
==============================
*/
:root {
    --header-height: 75px;
    --icon-box-height: 80px;

    --text-1: 48pt;
    --text-2: 36pt;
    --text-3: 24pt;
    --text-4: 18pt;

    --black: #0A0A0A;
    --white: #F5F5F5;
    --red: #D13131;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
}

/*
=== CLASS
*/
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

/* header*/
.header {
    background-color: var(--black);
    height: var(--header-height);
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo */
.logo img {
    margin-left: 30px;
    height: 40px;
}


/* nav */
.nav-container {
    display: flex;
}

.triangle {
    border-top: var(--icon-box-height) solid var(--red);
    border-left: 50px solid transparent;
    height: var(--icon-box-height);
    width: 0;
}

.icon-container {
    height: var(--icon-box-height);
    width: 100%;

    padding: 0 30px;

    display: flex;
    align-items: center;
    position: relative;

    z-index: 10;

    background-color: var(--red);
}

.icon-container .fa-bars {
    color: var(--white);
    font-size: 24pt;
    z-index: 10;
}

.red-bar {
    position: absolute;
    top: 0;
    left: 0;

    height: var(--icon-box-height);
    width: 1000px;

    z-index: 9;

    background-color: var(--red);
}